@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #393737;
  color: #fff;
}

h1 {
  font-family: "Georgia Italic", sans-serif;
  font-size: 72px;
  line-height: 82px;
  margin: 0 0 50px 0;
}

.content > h1 {
  display: none;
}

.about {
  margin-top: 114px;
  padding-top: 50px;
}

.content {
  display: flex;
}

article {
  max-width: 501px;
  font-size: 18px;
  line-height: 170%;
}

.content_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_left a {
  text-decoration: none;
  font-family: "Georgia Italic", sans-serif;
  font-size: 36px;
  line-height: 41px;
  color: #c2a599;
}

.content_left a:hover {
  text-decoration: underline;
}

.content_right {
  display: flex;
}

.col1 img,
.col2 img {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
  object-fit: cover;
}

.col1 {
  margin-right: 30px;
}

.col1,
.col2 {
  text-align: end;
  max-width: 270px;
}

.col2 {
  margin-top: 50px;
}

@media (max-width: 1180px) {
  .col2 {
    display: none;
  }
  .col1 {
    max-width: 500px;
    margin: 0 auto;
  }
  article {
    max-width: none;
  }
}

@media (max-width: 735px) {
  .content {
    flex-direction: column-reverse;
  }
  .content_right {
    flex-direction: row;
  }

  .col1 {
    flex-direction: row;
    margin: 0 0;
    text-align: left;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: space-between;
  }
  .col1 img:nth-child(3),
  .col1 img:nth-child(4) {
    display: none;
  }
  .content_left h1 {
    display: none;
  }

  .content > h1 {
    display: block;
    font-size: 48px;
    margin-bottom: 25px;
  }

  article {
    font-size: 14px;
  }

  .content_left a {
    font-size: 14px;
    margin-top: 25px;
  }
}

@media (max-width: 650px) {
  .col1 img:nth-child(1),
  .col1 img:nth-child(2),
  .col1 img:nth-child(4) {
    display: inline;
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 470px) {
  .col1 img:nth-child(4) {
    display: none;
  }
}

@media (max-width: 360px) {
  .about {
    margin-top: 27px;
  }

  .content h1 {
    font-size: 24px;
    line-height: 27px;
  }

  article {
    font-size: 10px;
  }

  .content_left a {
    font-size: 10px;
    margin-top: 25px;
  }
}
