@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(57, 55, 55);
    opacity: 0.55;
    height: 114px;
    position: absolute;
    width: 100%;
    z-index: 2;
    position: fixed;
    backdrop-filter: blur(2px);
    top: 0;
}

.header-body {
    width: 100%;
    text-align: center;
}

.header-body ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    height: 100%;
}

ul a {
    text-decoration: none;
    color: #fff;
}

.active {
    text-decoration: underline;
}

ul li {
    display: flex;
    align-items: center;
}

.burger_item {
    display: none;
}

@media(max-width: 1220px) {
    .header-body, .container {
        padding: 0 35px;
    }
}

@media(max-width: 800px) {
    .header ul {
        position: relative;
    }
    .header li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(6), li:nth-child(7), li:nth-child(8){
        display: none;
    }
    .header li:nth-child(5) {
        display: flex;
        position: absolute;
        align-self: center;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }
    .burger_item {
        display: inline-flex;
        z-index: 2;
    }

    .burger_item:hover {
        cursor: pointer;
    }

    .burger {
        height: 2px;
        background-color: white;
        width: 70px;
    }

    .burger::after {
        content: '';
        height: 2px;
        background-color: white;
        width: 70px;
        display: block;
        position: relative;
        top: 10px;
    }

    .burger::before {
        content: '';
        height: 2px;
        background-color: white;
        width: 70px;
        display: block;
        position: relative;
        top: -12px;
    }
}

@media(max-width: 460px) {
    .burger {
        height: 2px;
        background-color: white;
        width: 40px;
    }

    .burger::after {
        content: '';
        height: 2px;
        background-color: white;
        width: 40px;
        display: block;
        position: relative;
        top: 8px;
    }

    .burger::before {
        content: '';
        height: 2px;
        background-color: white;
        width: 40px;
        display: block;
        position: relative;
        top: -10px;
    }
}

@media(max-width: 360px) {
    .burger {
        height: 2px;
        background-color: white;
        width: 10px;
    }

    .burger::after {
        content: '';
        height: 2px;
        background-color: white;
        width: 10px;
        display: block;
        position: relative;
        top: 2px;
    }

    .burger::before {
        content: '';
        height: 2px;
        background-color: white;
        width: 10px;
        display: block;
        position: relative;
        top: -4px;
    }
    .header li:nth-child(5) img {
        height: 27px;
    }
    .header li:nth-child(5) {
        height: 27px;
        align-items: baseline;
    }
}